html{
    box-sizing: border-box;
    height: 100%;
}

body {
    background: #232323;
}

.screen{
    text-align: bottom;
    color: #ffffff;
    background: #000000;
    font-size: 35px;
    overflow: auto;
    padding: 50px;
    text-align: right;
    width: 240px;
}

.wrapper{
    background: #000000;
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #000000;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 280px;
}

.button-row{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.button{
    background: #232323;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 65px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffffff;
    flex-basis: 24%;
    font-family: inherit;
    font-size: 25px;
    height: 65px;
}

.button:last-child{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 65px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #ffa600
}

.button:last-child:hover{
    background-color: inherit;
    color: #ffffff;
}
.button:hover{
    background-color: inherit;
}
button:active{
    background-color: #ffef78;
}

.triple{
    flex-basis: 73%;
}

.double{
    flex-basis: 47%;
}